
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Della+Respira&family=Montserrat:ital,wght@0,400;0,700;1,300&family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-family:  helvetica;
}
.navBar{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ee4d2d;
    color: #ffffff;
    padding: 10px 150px;
    margin-bottom: 30px;
}
.shopeeLogo{
    height: 50px;
    width: auto;
}

.cart{
    font-size: 30px;
    padding: 5px;
    padding-top: 10px;
    position: relative;
}

.cartAmount{
    position: absolute;
    top: 4px;
    right: 2.5px;
    font-size: 15px;
    background-color: #ffffff;
    color: #ee4d2d;
    border-radius: 9px;
    padding: 2px;
}

.shop{
    display: grid;
    grid-template-columns: repeat(6, 190px);
    gap: 10px;
    justify-content: center;
    padding-top: 100px;
}

.item{
    border: 2px solid #fff;
    border-radius: 2.5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.details{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 8px;
    background-attachment: fixed;
}

.prices{
    display: flex;
}

.buttons{
    display: flex;
    font-size: 19px;
    justify-content: center;
    padding: 5px;
}

/* .minusSymbol, .plusSymbol{
    background-color: transparent;
    padding: 1px;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.126);
    justify-content: center;
}  */

 .quantity{
    background-color: transparent;
    padding: 1px 20px;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.126);
    justify-content: center;
    font-size: 17px;
    padding-top: 3.5px;
}

.name{
    font-size: 11px;
    padding-bottom: 15px;
}

.ratingsAndNumOfSold{
    display: flex;
    gap: 3px;
} 

.addToCart{
    justify-content: center;
    padding-left: 22px;
}
button{
    color: #ee4d2d;
    border-radius: 2px;
    background-color: rgba(255,197,178,.181);
    border: 1px solid #ee4d2d;
    padding: 5px 30px;
    font-size: 10px;
    font-family: helvetica;
    cursor: pointer;
}

.item:hover{
    cursor: pointer;
    border: 2px solid #ee4d2d;
    transition: 0.3s;
}

@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(3, 190px);
    }
}

@media (max-width: 500px){
    .shop{
        grid-template-columns: repeat(2, 190px);
    }
}

@media (max-width: 300px){
    .shop{
        grid-template-columns: repeat(1, 190px);
    }
}



